@font-face {
    font-family: "F1Regular";
    src: url("/fonts/Formula1-Regular.ttf");
}

@font-face {
    font-family: "F1Bold";
    src: url("/fonts/Formula1-Bold.ttf")
}

body, html {
    text-align: center;
    margin: 0;
    font-family: Bahnschrift, serif;
}


header h1 {
    text-align: center;
    font-family: F1Bold, serif;
    font-size: 36px;
    margin: 0;
    padding: 20px;
    background-color:red;
}

th {
    font-family: F1Regular, serif;
}

th, td {
    padding: 4px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    padding: 10px;
    margin: 0;
    border-spacing: 0;
}
hr {
    margin: 0;
    border: none;
    border-top: 2px solid #000000;
}

script {
    text-align:center;
    color: black;
}


button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Bahnschrift, serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
                                                   }

button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

button:active {
    opacity: 0.5;
}

.tyre-image {
    width: 30px;
    height: 30px
}